---
---

<div>
  <!-- 置顶 -->
  <div class="mb-6">
    <p>
      <span
        class="bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:100%_80%] from-primary-yellow to-primary-yellow dark:from-primary-yellow to-primary-yellow"
      >
        <strong> 👑 置顶推荐</strong>
      </span>
    </p>
    <p class="text-amber-500 dark:text-primary-green">
      知识付费，是赚取信息差的有效途径
    </p>
    <p>
      <strong>知识星球：</strong>
      <a href="/blog/zsxq" target="_blank">AI 破局俱乐部</a>
    </p>

    <!-- <p>
      <strong>大师课程：</strong>
      <a href="/blog/prompt" target="_blank">小七姐的提示词</a>
    </p>

    <p>
      <strong>AI 应用：</strong>
      <a href="https://www.zelinai.com/" target="_blank">Zelin AI</a>
    </p> -->
  </div>

  <!-- 文摘 -->
  <div class="mb-6">
    <p>
      <span
        class="bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:100%_80%] from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue"
      >
        <strong>✨ 精品文章</strong>
      </span>
    </p>

    <p>
      <strong>认识自己：</strong>
      <a
        href="https://mp.weixin.qq.com/s?__biz=MzkxODU1NjM5OQ==&mid=2247483704&idx=1&sn=5dfd6b1a501f151447477a420b698a45&chksm=c1aedab8f6d953aec72fe4d6388e6b301d7beeb95adad065f8405703bbecf1215640a91e2b7f&token=2040975436&lang=zh_CN#rd"
        target="_blank">⭐打工人要的安慰，GPT 给不了</a
      >
      |
    </p>

    <p>
      <strong>认识GPT：</strong>
      <a
        href="https://mp.weixin.qq.com/s/VYv8BRgGnp9ZTuXxaSuFwg"
        target="_blank">⭐万字拆解！追溯ChatGPT各项能力的起源</a
      >
      |
      <a
        href="https://mp.weixin.qq.com/s?__biz=MzkxODU1NjM5OQ==&mid=2247483690&idx=1&sn=1fe49f97cbcdf5f03ffbf1bbb4c586d7&chksm=c1aedaaaf6d953bcb736ffcebc2b40d895be98242ab08e48dbe1e8f50c95de55cfae8ac2252d&token=2040975436&lang=zh_CN#rd"
        target="_blank">ChatGPT 双刃剑：普通人的正确打开方式</a
      >
    </p>

    <p>
      <strong>使用技巧：</strong>
      <a
        href="https://mp.weixin.qq.com/s?__biz=MzkxODU1NjM5OQ==&mid=2247483736&idx=1&sn=2116c7272c6a84eb2de2d505aefe64c4&chksm=c1aedad8f6d953ce520a4fd419ef80bb68ad367d2033b419bfeb5641203756233505b35e2633&token=2040975436&lang=zh_CN#rd"
        target="_blank">解读 GPT 官方最佳实践：6 大策略 18 个技巧</a
      >
      |
    </p>

    <!-- <p>
      <strong>实战变现：</strong>
      <a href="https://articles.zsxq.com/id_w2b4og4zgjij.html" target="_blank"
        >8300字，一文讲透prompt变现</a
      >
      |
    </p> -->
  </div>

  <!-- 收藏 -->
  <div class="mb-6">
    <p>
      <span
        class="bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:100%_80%] from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue"
      >
        <strong>🏆 资源收藏</strong>
      </span>
    </p>

    <p>
      <strong>聚合应用：</strong>
      <a href="https://poe.com/" target="_blank">⭐Poe</a>
      |
      <a href="https://www.phind.com/" target="_blank">phind</a>
      |
      <a href="https://www.perplexity.ai/" target="_blank">perplexity</a>
      |
    </p>

    <p>
      <strong>国产GPT：</strong>
      <a href="https://yiyan.baidu.com/" target="_blank">⭐百度文心一言</a>
      |
      <a href="https://chatglm.cn/" target="_blank">智谱清言ChatGLM</a>
      |
      <a href="https://www.doubao.com/" target="_blank">字节豆包</a>
      |
      <a href="https://www.chainbrainai.com " target="_blank">ChainBrain AI</a>
    </p>

    <p>
      <strong>海外GPT：</strong>
      <a href="https://flowgpt.com" target="_blank">ChatGPT</a>
      |
      <a href="https://snackprompt.com" target="_blank">⭐Claude2</a>
      |
      <a href="https://www.aishort.top" target="_blank">Bard</a>
      |
      <a href="https://www.llama2.ai" target="_blank">Llama2</a>
      |
      <a href="https://huggingface.co/chat/" target="_blank">HuggingChat</a>
    </p>

    <p>
      <strong>提示词库：</strong>
      <a href="https://flowgpt.com" target="_blank">⭐FlowGPT</a>
      |
      <a href="https://snackprompt.com" target="_blank">Snack Prompt</a>
      |
      <a href="https://www.aishort.top" target="_blank">AiShort</a>
      |
      <a href="https://www.chainbrainai.com " target="_blank">ChainBrain AI</a>
    </p>

    <p>
      <strong>社区论坛：</strong>
      <a href="https://community.openai.com/latest" target="_blank"
        >⭐OpenAI官方论坛</a
      >
      |
      <a href="https://dev.to/t/chatgpt" target="_blank">DEV</a>
      |
      <a href="https://www.reddit.com/r/ChatGPT/" target="_blank">reddit</a>
      |
    </p>
  </div>
</div>
