---
---

<div>
  <!-- 置顶 -->
  <div class="mb-6">
    <p>
      <span
        class="bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:100%_80%] from-primary-yellow to-primary-yellow dark:from-primary-yellow to-primary-yellow"
      >
        <strong> 👑 我的精华</strong>
      </span>

      <!-- <p class="dark:text-primary-green">
      一杯奶茶 = 认知差 + 信息差
    </p> -->
      <!-- <p>
      <strong>知识星球：</strong>
      <a href="/blog/zsxq" target="_blank">AI 破局俱乐部</a>
    </p> -->

      <p>
        <strong>小报童：</strong>
        <a
          href="https://xiaobot.net/post/d4b1102d-c33b-48a3-8be6-fe3168f96183"
          target="_blank">🔥《职场底层思维》</a
        >
        <span class="text-gray-400">100 个思维模型，300 个职场案例</span>
      </p>

      <p>
        <strong>知识星球：</strong>
        <a href="https://t.zsxq.com/14PS2q6oL" target="_blank">🌍 AI 职场成长</a
        >
        <span class="text-gray-400">获取一手信息差，前 100 名限时半价入</span>
      </p>

      <!-- <p>
      <strong>大师课程：</strong>
      <a href="/blog/prompt" target="_blank">小七姐的提示词</a>
    </p>

    <p>
      <strong>AI 应用：</strong>
      <a href="https://www.zelinai.com/" target="_blank">Zelin AI</a>
    </p> -->
    </p>
  </div>

  <!-- 文摘 -->
  <div class="mb-6">
    <p>
      <span
        class="bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:100%_80%] from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue"
      >
        <strong>✨ 我的栏目</strong>
      </span>
    </p>

    <p>
      <a
        href="https://yx58nd06ei.feishu.cn/wiki/LNUiwfPsnid7gPkQU5BcBMVknFg?table=tblzac1t2gVwL93m&view=vewLxSLTtM"
        target="_blank">🧐 原创好文</a
      >
      |
      <a
        href="https://yx58nd06ei.feishu.cn/base/DrE0b4Mv8aptxts8SOBcMeIlnOb"
        target="_blank">🎯 前沿观察</a
      >
      |
      <a
        href="https://yx58nd06ei.feishu.cn/wiki/VQR0wim7Nid3RukBHVec9gKun1g?table=tblS14LGmRxbHrAA&view=vewLxSLTtM"
        target="_blank">🤖 GPTs精选</a
      >
      |
      <a
        href="https://yx58nd06ei.feishu.cn/docx/WD4idCkkNoySVMxaqIZcDouMnIf"
        target="_blank">📦 压箱底私货</a
      >
    </p>

    <!-- <p>
      <strong>实战变现：</strong>
      <a href="https://articles.zsxq.com/id_w2b4og4zgjij.html" target="_blank"
        >8300字，一文讲透prompt变现</a
      >
      |
    </p> -->
  </div>

  <!-- 收藏 -->
  <div class="mb-6">
    <p>
      <span
        class="bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:100%_80%] from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue"
      >
        <strong>🏆 我的GPTs</strong>
      </span>
    </p>

    <p>
      <a
        href="https://chat.openai.com/g/g-xMgfZIbLU-le-gao-mocda-shi"
        target="_blank">乐高 MOC 大师</a
      >
      |
      <a
        href="https://chat.openai.com/g/g-1FQzIQiSp-jd-gang-wei-miao-shu-da-shi"
        target="_blank">JD 岗位描述大师</a
      >
    </p>

    <!-- <p>
      <strong>GPT Apps：</strong>
      <a href="https://poe.com/" target="_blank">⭐Poe</a>
      |
      <a href="https://www.phind.com/" target="_blank">phind</a>
      |
      <a href="https://www.perplexity.ai/" target="_blank">perplexity</a>
      |
      <a href="https://gpt3demo.com/map" target="_blank">⭐GPT3应用地图</a>
      |
      <a href="https://gpt4demo.com/map" target="_blank">⭐GPT4应用地图</a>
      |
      <a
        href="https://mp.weixin.qq.com/s/WcZU-oCnFHk4-CjkETc80g"
        target="_blank">4.4 MindOS</a
      >
      |
    </p> -->
  </div>
  <!-- 
  <div class="mb-6">
    <p>
      <span
        class="bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:100%_80%] from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue"
      >
        <strong>🎭 我的提示词</strong>
      </span>
    </p>

    <p>
      <a href="/blog/prompt_bx42" target="_blank">别学 42 类法大师</a>
      |
      <a href="/blog/prompt_259" target="_blank">259 商业分析大师</a>
      |
      <a href="https://flowgpt.com/p/cn-stable-diffusion" target="_blank"
        >角色拆解绘画提示词</a
      >
      |
      <a href="/blog/prompt_ssrdplj" target="_blank">时事热点评论家</a>
      |
      <a href="/blog/prompt_gamemaster" target="_blank">多合一游戏大师</a>
      |
    </p>
  </div> -->
</div>
