---
---

<div>
  <!-- 置顶 -->
  <div class="mb-6">
    <p>
      <span
        class="bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:100%_80%] from-primary-yellow to-primary-yellow dark:from-primary-yellow to-primary-yellow"
      >
        <strong> 👑 置顶推荐</strong>
      </span>
    </p>
    <!-- <p class="text-amber-500 dark:text-primary-green">
      知识付费，是赚取信息差的有效途径
    </p> -->
    <p>
      <strong>知识星球：</strong>
      <a href="/blog/zsxq" target="_blank">AI 破局俱乐部</a>
    </p>

    <!-- <p>
      <strong>大师课程：</strong>
      <a href="/blog/prompt" target="_blank">小七姐的提示词</a>
    </p>

    <p>
      <strong>AI 应用：</strong>
      <a href="https://www.zelinai.com/" target="_blank">Zelin AI</a>
    </p> -->
  </div>

  <!-- 文摘 -->
  <div class="mb-6">
    <p>
      <span
        class="bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:100%_80%] from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue"
      >
        <strong>✨ 精品文章</strong>
      </span>
    </p>

    <p>
      <strong>调整自己：</strong>
      <a
        href="https://mp.weixin.qq.com/s/3yo9r7j-Y7VkiSgUg2g5Uw"
        target="_blank">⭐打工人要的安慰，GPT 给不了</a
      >
      |
      <a
        href="https://mp.weixin.qq.com/s/fAkXw8wrg2LOMlsHfNRkag"
        target="_blank">理解 GPT 掌控有效对话</a
      >
      |
    </p>

    <p>
      <strong>认识GPT：</strong>
      <a
        href="https://mp.weixin.qq.com/s/EKonXG9BE_81hXlvrF7V_A"
        target="_blank">💎中国用户第三阶段：道与术</a
      >
      |
      <a
        href="https://mp.weixin.qq.com/s/3ajCfN54N8OzaqR6IpMjag"
        target="_blank">⭐万字评（上）文心一言vs.ChatGPT</a
      >
      |
      <a
        href="https://mp.weixin.qq.com/s/8GnT1LquEZuPgiTe1lRUgw"
        target="_blank">⭐万字（下）文心一言vs.ChatGPT</a
      >
      |
      <a
        href="https://mp.weixin.qq.com/s/HBpxZUyzcCz6dZnFnzGUjA"
        target="_blank">国产GPT哪家强？专家选</a
      >
      |
      <a
        href="https://mp.weixin.qq.com/s/VYv8BRgGnp9ZTuXxaSuFwg"
        target="_blank">ChatGPT各项能力的起源</a
      >
      |
      <a
        href="https://writings.stephenwolfram.com/2023/02/what-is-chatgpt-doing-and-why-does-it-work/"
        target="_blank">GPT原理深入浅出</a
      >
      |
      <a
        href="https://mp.weixin.qq.com/s/dKbGR4sCkNpik0Xw41QLVw"
        target="_blank">GPT庞大的家族系谱</a
      >
      |
      <a
        href="https://mp.weixin.qq.com/s/x4ZuM0bLvBMS2Pdi37ws7g"
        target="_blank">前GPT3.0时代</a
      >
      |
      <a
        href="https://mp.weixin.qq.com/s/JV7iNMIvqqa5zr3n0pLAKQ"
        target="_blank">后GPT3.0时代</a
      >
    </p>

    <p>
      <strong>使用技巧：</strong>
      <a
        href="https://mp.weixin.qq.com/s/OsfbhnehTjGXp-OIhjKNwA"
        target="_blank">解读 GPT 官方最佳实践</a
      >
      |
      <a
        href="https://mp.weixin.qq.com/s/eDeK0cOqx-2FpU3RdsYo-Q"
        target="_blank">ChatGPT 双刃剑</a
      >
      |
      <a
        href="https://mp.weixin.qq.com/s/mJ6n9s78JNy42zU4FFpJWw"
        target="_blank">神器合体：Wolfram + ChatGPT</a
      >
      |
      <a
        href="https://www.scriptbyai.com/token-limit-openai-chatgpt/"
        target="_blank">Max Token Limit ChatGPT</a
      >
      |
    </p>

    <p>
      <strong>GPT实战：</strong>
      <a
        href="https://mp.weixin.qq.com/s/6xweujwhNFSdkxSWtx2xWg"
        target="_blank">⭐GPT起百家号，月阅读过22万</a
      >
      |
    </p>

    <p>
      <strong>AI人物志：</strong>
      <a
        href="https://mp.weixin.qq.com/s/E4NvL3jTBjc7TS5opiVjJQ"
        target="_blank">⭐纽约客万字特写：Sam Altman 上篇</a
      >
      |
      <a
        href="https://mp.weixin.qq.com/s/hy2_Xbcb_xWPhJviLtJ2XQ"
        target="_blank">⭐纽约客万字特写：Sam Altman 下篇</a
      >
      |
      <a href="https://www.bilibili.com/video/BV1mM4y147qw" target="_blank"
        >陆奇：大模型带来的新范式</a
      >
      |
      <a href="https://www.bilibili.com/video/BV1Sh4y1m7VA" target="_blank"
        >吴恩达：2023 AI新机遇</a
      >
      |
    </p>

    <!-- <p>
      <strong>实战变现：</strong>
      <a href="https://articles.zsxq.com/id_w2b4og4zgjij.html" target="_blank"
        >8300字，一文讲透prompt变现</a
      >
      |
    </p> -->
  </div>

  <!-- 收藏 -->
  <div class="mb-6">
    <p>
      <span
        class="bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:100%_80%] from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue"
      >
        <strong>🏆 资源收藏</strong>
      </span>
    </p>

    <p>
      <strong>GPT Apps：</strong>
      <a href="https://poe.com/" target="_blank">⭐Poe</a>
      |
      <a href="https://www.phind.com/" target="_blank">phind</a>
      |
      <a href="https://www.perplexity.ai/" target="_blank">perplexity</a>
      |
      <a href="https://gpt3demo.com/map" target="_blank">⭐GPT3应用地图</a>
      |
      <a href="https://gpt4demo.com/map" target="_blank">⭐GPT4应用地图</a>
      |
      <a
        href="https://mp.weixin.qq.com/s/WcZU-oCnFHk4-CjkETc80g"
        target="_blank">4.4 MindOS</a
      >
      |
    </p>

    <p>
      <strong>国产GPT：</strong>
      <a href="https://www.baichuan-ai.com/chat" target="_blank">百川大模型</a>
      |
      <a href="https://api.minimax.chat/" target="_blank">MiniMax</a>
      |
      <a href="https://yiyan.baidu.com/" target="_blank">百度文心一言</a>
      |
      <a href="https://xinghuo.xfyun.cn/desk" target="_blank">讯飞星火</a>
      |
      <a href="https://chatglm.cn/" target="_blank">智谱清言ChatGLM</a>
      |
    </p>

    <p>
      <strong>海外GPT：</strong>
      <a href="https://flowgpt.com" target="_blank">ChatGPT</a>
      |
      <a href="https://snackprompt.com" target="_blank">⭐Claude2</a>
      |
      <a href="https://www.aishort.top" target="_blank">Bard</a>
      |
      <a href="https://www.llama2.ai" target="_blank">Llama2</a>
      |
      <a href="https://huggingface.co/chat/" target="_blank">HuggingChat</a>
    </p>

    <p>
      <strong>找提示词：</strong>
      <a href="https://flowgpt.com" target="_blank">⭐FlowGPT</a>
      |
      <a href="https://snackprompt.com" target="_blank">Snack Prompt</a>
      |
      <a href="https://www.aishort.top" target="_blank">AiShort</a>
      |
      <a href="https://github.com/f/awesome-chatgpt-prompts" target="_blank"
        >87.5k:awesome-chatgpt-prompts</a
      >
      |
      <a href="https://promptport.ai/" target="_blank">⭐PromptPort</a>
      |
    </p>

    <p>
      <strong>提示词工程：</strong>
      <a
        href="https://www.deeplearning.ai/short-courses/chatgpt-prompt-engineering-for-developers/"
        target="_blank">⭐吴恩达：提示词工程</a
      >
      |
      <a href="https://www.youtube.com/watch?v=dOxUroR57xs" target="_blank"
        >Prompt Engineering Overview</a
      >
      |
      <a
        href="https://github.com/dair-ai/Prompt-Engineering-Guide"
        target="_blank">35.2k:Prompt Engineering Guide</a
      >
      |
      <a href="https://github.com/brexhq/prompt-engineering" target="_blank"
        >6.9k:Brex's Guide</a
      >
      |

      <a href="https://github.com/trigaten/Learn_Prompting" target="_blank"
        >3.6k:Learn Prompting</a
      >
      |
    </p>

    <p>
      <strong>Gihub资源：</strong>
      <a href="https://www.libhunt.com/" target="_blank">⭐Libhunt</a>
      |
      <a href="https://github.com/Yidadaa/ChatGPT-Next-Web" target="_blank"
        >42k:ChatGPT-Next-Web</a
      >
      |
      <a href="https://github.com/Chainlit/chainlit" target="_blank"
        >3k:chainlit</a
      >
      |
      <a href="https://github.com/langchain-ai/langchain" target="_blank"
        >60.4k:langchain</a
      >
      |
      <a href="https://github.com/guidance-ai/guidance" target="_blank"
        >12.6k:guidance</a
      >
      |
    </p>

    <!-- <p>
      <strong>社区论坛：</strong>
      <a href="https://community.openai.com/latest" target="_blank"
        >⭐OpenAI官方论坛</a
      >
      |
      <a href="https://dev.to/t/chatgpt" target="_blank">DEV</a>
      |
      <a href="https://www.reddit.com/r/ChatGPT/" target="_blank">reddit</a>
      |
    </p> -->
  </div>

  <div class="mb-6">
    <p>
      <span
        class="bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:100%_80%] from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue"
      >
        <strong>🎭 别学提示词</strong>
      </span>
    </p>

    <p>
      <strong>游戏娱乐：</strong>
      <a href="/blog/prompt_gamemaster" target="_blank">⭐多合一游戏大师</a>
      |
    </p>

    <p>
      <strong>创作辅助：</strong>
      <a href="https://flowgpt.com/p/cn-stable-diffusion" target="_blank"
        >⭐角色拆解绘画提示词</a
      >
      |
      <a href="/blog/prompt_ssrdplj" target="_blank">时事热点评论家</a>
      |
    </p>
  </div>
</div>
