---
import Nav from "./Nav.astro";
import DarkModeToggle from "./DarkModeToggle.astro";
---

<header class="">
  <a
    class="unset absolute z-10 left-[50%] -top-[100rem] translate-x-[-50%] bg-white text-black px-8 py-2 focus:top-[initial]"
    href="#main"
  >
    Skip to content
  </a>
  <Nav />
  <div
    class="justify-self-end py-2 flex items-center content-center text-text-bold"
  >
    <a
      class="unset ml-4 rounded-sm transition-[background-size] duration-150 bg-left-bottom bg-[length:0%_55%] hover:bg-[length:100%_15%] bg-no-repeat bg-gradient-to-r from-primary-green to-primary-green dark:bg-none dark:hover:text-primary-green"
      href="https://mp.weixin.qq.com/mp/homepage?__biz=MzkxODU1NjM5OQ==&hid=1&sn=3739074acd24da7a2397011fb356ef07"
      target="_blank"
    >
      <i class="" aria-hidden="true" title="别学AI 公众号"></i>
      <span>公众号</span>
    </a>
    <a
      class="unset ml-4 rounded-sm transition-[background-size] duration-150 bg-left-bottom bg-[length:0%_55%] hover:bg-[length:100%_15%] bg-no-repeat bg-gradient-to-r from-primary-green to-primary-blue dark:bg-none dark:hover:text-primary-blue"
      href="https://yx58nd06ei.feishu.cn/wiki/Bd74wKkAHi6bE7ksHwGccg25nul?from=from_copylink"
      target="_blank"
    >
      <i class="" aria-hidden="true" title="豆茉君飞书专栏"></i>
      <span>飞书专栏</span>
    </a>
    <a
      class="unset ml-4 rounded-sm transition-[background-size] duration-150 bg-left-bottom bg-[length:0%_55%] hover:bg-[length:100%_15%] bg-no-repeat bg-gradient-to-r from-primary-blue to-primary-blue dark:bg-none dark:hover:text-primary-blue"
      href="https://www.zhihu.com/people/doumoman"
      target="_blank"
    >
      <i class="" aria-hidden="true" title="别学AI 知乎"></i>
      <span>知乎</span>
    </a>
    <!-- <a
      class="unset ml-4 rounded-sm transition-[background-size] duration-150 ease-in-out bg-left-bottom bg-[length:0%_55%] hover:bg-[length:100%_15%] bg-no-repeat bg-gradient-to-r from-primary-yellow to-primary-yellow dark:bg-none dark:hover:text-primary-yellow"
      href="https://github.com/isawall317/biexueAI"
    >
      <i class="fa-brands fa-github" aria-hidden="true" title="别学AI"></i>
      <span>GitHub</span>
    </a> -->
  </div>
  <DarkModeToggle />
</header>
<style>
  header {
    grid-area: header;
    display: grid;
    align-items: center;
    grid-template-columns: minmax(0, 1fr) minmax(0, max-content) minmax(
        0,
        max-content
      );
  }
</style>
