---
---

<section class="mb-4">
  <div class="mb-3">
    <!-- <h1
      class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%] from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue"
      >
        别学 AI
      </span>
    </h1> -->
    <img
      class="w-20 object-cover object-center mx-auto mb-4"
      src="/images/logo.png"
      alt="ai"
    />
  </div>
  <p class="text-2xl text-center">AI时代，精进思维，差异进化</p>
  <!-- <div>
    <p class="text-center whitespace-nowrap overflow-auto">
      我是<span
        class="bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_20%] from-primary-green to-primary-green dark:from-primary-green dark:to-primary-green"
        >豆哥</span
      >：不要给自己设限，紧跟时代，就能吃到<span
        class="bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_20%] from-rose-600 to-rose-600 dark:from-rose-600 to-rose-600"
        >红利</span
      >！
    </p>
  </div> -->
</section>
