---
---

<section class="mb-4">
  <div class="mb-3">
    <!-- <h1
      class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%] from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue"
      >
        别学 AI
      </span>
    </h1> -->
    <img
      class="w-20 object-cover object-center mx-auto mb-4"
      src="/images/logo.png"
      alt="ai"
    />
  </div>
  <!-- <p class="text-2xl text-center">AI 职场新思维，超级个体新篇章</p> -->
  <div>
    <p class="text-center whitespace-nowrap overflow-auto">
      加我微信：<span
        class="bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_20%] from-primary-green to-primary-green dark:from-primary-green dark:to-primary-green"
        >douge985</span
      >，拉你进群领取<span
        class="bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_20%] from-primary-yellow to-primary-yellow dark:from-primary-yellow dark:to-primary-yellow"
        >精华资料</span
      >！
    </p>
  </div>
</section>
